@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Regular.woff') format('woff'),
        url('TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT bold';
    src: url('TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url('TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-DemiBold.woff') format('woff'),
        url('TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body{
   
    margin: 0;
    font-family: "TT Lakes", sans-serif;
    height: 100%;
}
ul{
    list-style: none;
}

/* .container{
    display: flex;
    align-items: start;
   box-sizing: border-box;
        width: 100%;}
  */

.header__second-divider{
    display: none;
}
.icon--visible-xl{
    display: none;
}
.header__divider--visible-m{
    display: none;
}
.header__divider{
    width: 2px;
    height: 32px;
    background-color: 
    #EAEAEA;
}
.main__services-item--visible-xl{display: none;}
.main__services-item--active-xl{display: none;}
.menu__button{
    background-image: url('images/burgermenubar.png');
}
.icons__repair-button{
    background-image: url('images/repairrepair.png');
}
.icons__contacts-button{
    background: url('images/icon23.png') no-repeat 50% 50%;
}
.icons__message-button{
    background: url('images/chatmessage.png') no-repeat 50% 50%;
}
.icons__profile-button{
    background: url('images/Groupprofile.png') no-repeat 50% 50%;
}
.icons__search-button{
    background-image: url('images/checkstatussearch.png');
}

.main__description--hidden-s{
    display: none;
}
.main__description--visible-xl{
    display: none;
}
/* .header{width: 100vw;} */
.header__divider--visible-s{
    display: none;
}
.icons--visible-m{
    display: none;
}
.main{
    height: 100%;
}
 .icons__divider{
    width: 2px;
    height: 32px;
    background-color: 
    #EAEAEA;
}

.header__divider--visible-m{display: none;}

.menu-open{
    width: 320px;
    height: 1024px;
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    box-shadow: 
    16px 0 52px 0 rgba(14,24,80, 0.2), 
    -2px 0 4px 0 rgba(69,79,126, 0.02);
}

.menu-header{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.menu-header__button-close, .menu-header__button-search, 
.menu-footer__button-phone, .menu-footer__button-message, .menu-footer__button-profile{
border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;}
.menu-header__button-close{
    background: url('images/burger.png') no-repeat ;
    margin-left: 24px;
    margin-right: 17px;
}
.menu-header__button-search{
    background: url('images/search.png') no-repeat 50% 50%; 
    margin-right: 24px;
}
.menu-footer__button-phone{
    background: #FF3E79 url('images/icon23.png') no-repeat 50% 50%;
}
.menu-footer__button-message{ 
    background: #FF3E79 url('images/chatmessage.png') no-repeat 50% 50%;
}
.menu-footer__button-profile{
    background:  url('images/profile.png') no-repeat 50% 50%;
}
.menu-services{
    
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 46px;
    margin-left: 24px;
    
}
.menu-services a{
    text-decoration: none;
    color: black;
    font: 16px "TT bold";
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 24px;
    margin-bottom: 32px;
}
a.menu-services-item--active{
    color:#7E7E82;
}
.menu-services a:hover:not(:first-child){
    color:#7E7E82;
    transform: translateX(15px) scale(1.1);
}
img.menu-title__decoration{
  position: relative;
    left: -24px; 
}
.menu-footer{
    position: relative;
    top: 233px;
    left: 24px
}
.menu-footer__icons{
    display: flex;
    gap: 16px;
    margin-bottom: 16px;

}
.menu-footer__mail{
    margin: 0;
 margin-bottom: 12px;
}
.menu-footer__number{
    font-family: "TT bold";
    font-size: 24px;
    margin: 0;
    margin-bottom: 40px;
}
.menu-footer__language{
    display: flex;
    gap: 7px;
    margin: 0;
    margin-bottom: 32px;
}
.menu-footer__language a{
    text-decoration: none;
    color: black;
}
.menu-footer__language a:hover:not(:first-child){
    color: #FF3E79;
    transform: scale(1.1);
}
a.menu-footer__language-ru--active{
    color: #7E7E82;
}
@media  (max-width: 767px) {
 
    .iconsM, .iconsUsual{display: flex;
        gap: 16px;
   
        }
    .menu__button, .icons__repair-button, .icons__search-button{
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;
        
    }
   
    .header__divider--visible-s{
        display: block;

    }
   .logo__image{
    margin-left: 5px;
   }
    .header{display: flex;
        justify-content: space-around;
        align-items: center;
     padding: 20px 16px;
        margin: 0;
    }
  
    .header__divider{
        margin-left: 5px;
    }

.main__title-highlight{
        display: flex;
        justify-content: flex-start;
    }
    .main__title{
        font-family:  'TT bold', sans-serif;
        padding-left: 15px;  
        position: relative;
    }
    .title__decoration{
        position: relative;
        top:-3px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .main__services{
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        
    }
    .main__services::-webkit-scrollbar { display: none; }
    .main__services-item{
        font-size: 16px;
        line-height: 24px;
        color:  #7E7E82;
        text-align: center;
        white-space: nowrap;
        margin-left: 15px;
        border-radius: 5px;
        text-decoration: none;
        padding: 5px 15px;
  
    }
    .main__services-item--active{
        border: 2px solid #B8FFEC;
     
    }
    .main__description{
       font-size: 14px;
       line-height: 18px;
       width: 100%;
       padding: 0 15px;
       margin-top: 25px;
    }
    .main__showMore{
        margin-bottom: 10px;
        
    }
    .main__showMore-button{
        color:black ;
        text-decoration: none ;
    }
    .main__showMore-icon{
        padding: 10px;
        margin-left: 15px;
       
    }
    .main__image{
        display: flex;
        flex-direction: column;
        align-items: start; 
       
    }
    .main__cpsPhoto{
        width: 100%;
    }
}
/* для планшета */
 @media (min-width: 768px) and (max-width: 1119px) {
    .header{
        display: flex;
        justify-content: space-between;
     margin: 24px;
     align-items: center;
    }
    .menu__button, .iconsM input, .iconsUsual input{
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;
    }
    .iconsM, .iconsUsual{display: flex;
        gap: 16px;
        margin-right: 16px;
    justify-content: center;
    /* width: 100%; */
     }
    
    .icons--visible-m{display: block;}
   
    .header__divider--visible-m{
        display: block;  
        width: 2px;
    height: 32px;
    background-color: #EAEAEA; 
    margin-right: 20px;
    margin-left: 4px;
    }
   
   .logo{
    margin: 0;
    margin-right: auto;
    padding: 0;
   }
   .menu{
    margin: 0;
    padding: 0;
    margin-right: 20px;
   }

 
   .main__title-highlight{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 24px 0;
   }
   
   .main__title{
    padding-left: 20px;
    font-family:  'TT bold', sans-serif;
   }

   .wrapper{
    display: grid;
    background-color:  #F8F8F8;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     'header header'
    'services services'
    'text photo'
    'text photo';
    margin-right: 15px;
    column-gap: 50px;
   }
   .main__description--hidden-s{
    display: block;
   }
   .main__title-highlight{grid-area:  header;}
   .main__services{
    grid-area: services;
   }
   .main__services{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    align-items: center;
}
.main__services::-webkit-scrollbar { display: none; }
    .main__services-item{
        font-size: 16px;
        line-height: 24px;
        color:  #7E7E82;
        text-align: center;
        white-space: nowrap;
        border-radius: 5px;
        text-decoration: none;
        padding:  5px 15px;
    }
    .main__services-item--active{
        border: 2px solid #B8FFEC;
        margin-left: 24px;
    }
   .main__cpsPhoto{
    grid-area: photo;
    border-radius: 10px;
    /* margin-right: 2%;
    margin-left: 3%; */
    /* margin-top: 3%;
    margin-bottom: 15%; */
margin: 0;
  /* transform:  translate(-10px,-5px); */
  width:100%;
  
   }
    .main__description{
       font-size: 14px;
       line-height: 18px;
       padding: 0 24px;
    }
    .text-container{
        grid-area: text;
       }
  
    .main__showMore-button{
        color:black ;
        text-decoration: none ;
    }
    .main__showMore-icon{
        padding: 10px;
        margin-left: 24px;
       
    }

}
@media (min-width:1120px) {
    .header{display: none;}
    
    .main__services-item--hidden-xl{display: none;
    }
    .main__services-item--visible-xl{display: block;
    }
    .main__description--visible-xl{display: inline;
}
    .main__description--hidden-s{display: inline;}
  
    .main__services-item--larger-xl{
        margin-left: 32px;
    
    }
    .main__services-item{
        font-size: 16px;
        line-height: 24px;
        color:  #7E7E82;
        text-align: center;
        white-space: nowrap;
        border-radius: 5px;
        text-decoration: none;
        padding:  5px 20px;
        
    }
    .main__services-item--active-xl{
            border: 2px solid #B8FFEC;
            margin-left: 32px;
             align-self: center; 
       

    }
    .main__title-highlight{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        margin-top: 42px;
        grid-area: header;
       }
       
       .main__title{
        padding-left: 32px;
        font-family:  'TT bold', sans-serif;
       }
    body{
        background-color:#F8F8F8 ;
    }
       .wrapper{
        display: grid;
        column-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
         'header icons'
        'services services'
        'services services'
        'text photo'
        'text photo';
       
       }
    .main__description{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;   
     }
     .text-container{
         grid-area: text;
         margin-left: 32px;
         margin-top: 15px;
        }
   
     .main__showMore-button{
         color:black ;
         text-decoration: none ;
     }
     
     .main__showMore-icon{
        padding-right: 10px;
        margin-left: 7px;  
    }
    .main__cpsPhoto{
        grid-area: photo;
      padding: 35px 62px 15px 20px;
        margin: auto;
        width: 60%;
        border-radius: 25px;
        transform: scale(1.15);
    }
 .main__services{
        display: flex;
        flex-wrap: wrap; 
        padding: 0;
        margin: 0;
        grid-area: services;
        align-items: center;
    }
   
    .icon--visible-xl{
        grid-area: icons;
    display: flex;
    justify-content: end;
    gap: 32px;
margin-right: 32px;
margin-top: 45px;}
   .icon--visible-xl input {
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;
    }
    .icon--visible-xl > li{
        display: flex;
        align-items: center;
    }
    .icon__repair-button{
        margin-left: 10px;
        background-image: url('images/repairrepair.png');
    }
    .icon__search-button{
        margin-left: 10px;
        background-image: url('images/checkstatussearch.png');
    }

}
