@font-face {
    font-family: 'TT Lakes';
    src: url('/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Regular.woff') format('woff'),
        url('/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT bold';
    src: url('/fonts/TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url('/fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-DemiBold.woff') format('woff'),
        url('/fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body{
   
    margin: 0;
    font-family: "TT Lakes", sans-serif;
    height: 100%;
}
ul{
    list-style: none;
}

/* .container{
    display: flex;
    align-items: start;
   box-sizing: border-box;
        width: 100%;}
  */

.header__second-divider{
    display: none;
}
.icon--visible-xl{
    display: none;
}
.header__divider--visible-m{
    display: none;
}
.header__divider{
    width: 2px;
    height: 32px;
    background-color: 
    #EAEAEA;
}
.main__services-item--visible-xl{display: none;}
.main__services-item--active-xl{display: none;}
.menu__button{
    background-image: url('images/burgermenubar.png');
}
.icons__repair-button{
    background-image: url('images/repairrepair.png');
}
.icons__contacts-button{
    background: url('images/icon23.png') no-repeat 50% 50%;
}
.icons__message-button{
    background: url('images/chatmessage.png') no-repeat 50% 50%;
}
.icons__profile-button{
    background: url('images/Groupprofile.png') no-repeat 50% 50%;
}
.icons__search-button{
    background-image: url('images/checkstatussearch.png');
}

.main__description--hidden-s{
    display: none;
}
.main__description--visible-xl{
    display: none;
}
/* .header{width: 100vw;} */
.header__divider--visible-s{
    display: none;
}
.icons--visible-m{
    display: none;
}
.main{
    height: 100%;
}
 .icons__divider{
    width: 2px;
    height: 32px;
    background-color: 
    #EAEAEA;
}
.header__divider--visible-m{display: none;}

@media  (max-width: 767px) {
 
    .iconsM, .iconsUsual{display: flex;
        gap: 16px;
   
        }
    .menu__button, .icons__repair-button, .icons__search-button{
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;
        
    }
   
    .header__divider--visible-s{
        display: block;

    }
   .logo__image{
    margin-left: 5px;
   }
    .header{display: flex;
        justify-content: space-around;
        align-items: center;
     padding: 20px 16px;
        margin: 0;
    }
  
    .header__divider{
        margin-left: 5px;
    }

.main__title-highlight{
        display: flex;
        justify-content: flex-start;
    }
    .main__title{
        font-family:  'TT bold', sans-serif;
        padding-left: 15px;  
        position: relative;
    }
    .title__decoration{
        position: relative;
        top:-3px;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
    .main__services{
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        padding: 0;
        margin: 0;
        margin-top: 10px;
        
    }
    .main__services::-webkit-scrollbar { display: none; }
    .main__services-item{
        font-size: 16px;
        line-height: 24px;
        color:  #7E7E82;
        text-align: center;
        white-space: nowrap;
        margin-left: 15px;
        border-radius: 5px;
        text-decoration: none;
        padding: 5px 15px;
  
    }
    .main__services-item--active{
        border: 2px solid #B8FFEC;
     
    }
    .main__description{
       font-size: 14px;
       line-height: 18px;
       width: 100%;
       padding: 0 15px;
       margin-top: 25px;
    }
    .main__showMore{
        margin-bottom: 10px;
        
    }
    .main__showMore-button{
        color:black ;
        text-decoration: none ;
    }
    .main__showMore-icon{
        padding: 10px;
        margin-left: 15px;
       
    }
    .main__image{
        display: flex;
        flex-direction: column;
        align-items: start; 
       
    }
    .main__cpsPhoto{
        width: 100%;
    }
}
/* для планшета */
 @media (min-width: 768px) and (max-width: 1119px) {
    .header{
        display: flex;
        justify-content: space-between;
     margin: 24px;
     align-items: center;
    }
    .menu__button, .iconsM input, .iconsUsual input{
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;
    }
    .iconsM, .iconsUsual{display: flex;
        gap: 16px;
        margin-right: 16px;
    justify-content: center;
    /* width: 100%; */
     }
    
    .icons--visible-m{display: block;}
   
    .header__divider--visible-m{
        display: block;  
        width: 2px;
    height: 32px;
    background-color: #EAEAEA; 
    margin-right: 20px;
    margin-left: 4px;
    }
   
   .logo{
    margin: 0;
    margin-right: auto;
    padding: 0;
   }
   .menu{
    margin: 0;
    padding: 0;
    margin-right: 20px;
   }

 
   .main__title-highlight{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 24px 0;
   }
   
   .main__title{
    padding-left: 20px;
 
    font-family:  'TT bold', sans-serif;
   }

   .wrapper{
    display: grid;
    background-color:  #F8F8F8;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
     'header header'
    'services services'
    'text photo'
    'text photo';
    margin-right: 15px;
    column-gap: 50px;
   }
   .main__description--hidden-s{
    display: block;
   }
   .main__title-highlight{grid-area:  header;}
   .main__services{
    grid-area: services;
   }
   .main__services{
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
    align-items: center;
}
.main__services::-webkit-scrollbar { display: none; }
    .main__services-item{
        font-size: 16px;
        line-height: 24px;
        color:  #7E7E82;
        text-align: center;
        white-space: nowrap;
        border-radius: 5px;
        text-decoration: none;
        padding:  5px 15px;
    }
    .main__services-item--active{
        border: 2px solid #B8FFEC;
        margin-left: 24px;
    }
   .main__cpsPhoto{
    grid-area: photo;
    border-radius: 10px;
    /* margin-right: 2%;
    margin-left: 3%; */
    /* margin-top: 3%;
    margin-bottom: 15%; */
margin: 0;
  /* transform:  translate(-10px,-5px); */
  width:100%;
  
   }
    .main__description{
       font-size: 14px;
       line-height: 18px;
       padding: 0 24px;
    }
    .text-container{
        grid-area: text;
       }
  
    .main__showMore-button{
        color:black ;
        text-decoration: none ;
    }
    .main__showMore-icon{
        padding: 10px;
        margin-left: 24px;
       
    }

}
@media (min-width:1120px) {
    .header{display: none;}
    
    .main__services-item--hidden-xl{display: none;
    }
    .main__services-item--visible-xl{display: block;
    }
    .main__description--visible-xl{display: inline;
}
    .main__description--hidden-s{display: inline;}
  
    .main__services-item--larger-xl{
        margin-left: 32px;
    
    }
    .main__services-item{
        font-size: 16px;
        line-height: 24px;
        color:  #7E7E82;
        text-align: center;
        white-space: nowrap;
        border-radius: 5px;
        text-decoration: none;
        padding:  5px 20px;
        
    }
    .main__services-item--active-xl{
            border: 2px solid #B8FFEC;
            margin-left: 32px;
             align-self: center; 
       

    }
    .main__title-highlight{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        margin-top: 42px;
        grid-area: header;
       }
       
       .main__title{
        padding-left: 32px;
        font-family:  'TT bold', sans-serif;
       }
    body{
        background-color:#F8F8F8 ;
    }
       .wrapper{
        display: grid;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
         'header icons'
        'services services'
        'services services'
        'text photo'
        'text photo';
       
       }
    .main__description{
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;   
     }
     .text-container{
         grid-area: text;
         margin-left: 32px;
         margin-top: 15px;
        }
   
     .main__showMore-button{
         color:black ;
         text-decoration: none ;
     }
     
     .main__showMore-icon{
        padding-right: 10px;
        margin-left: 7px;  
    }
    .main__cpsPhoto{
        grid-area: photo;
      padding: 35px 62px 15px 20px;
        margin: auto;
        width: 100%;
        border-radius: 25px;
        transform: scale(1.15);
    }
 .main__services{
        display: flex;
        flex-wrap: wrap; 
        padding: 0;
        margin: 0;
        grid-area: services;
        align-items: center;
    }
   
    .icon--visible-xl{
        grid-area: icons;
    display: flex;
    justify-content: end;
    gap: 32px;
margin-right: 32px;
margin-top: 45px;}
   .icon--visible-xl input {
        border: 0;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 100%;
    }
    .icon--visible-xl > li{
        display: flex;
        align-items: center;
    }
    .icon__repair-button{
        margin-left: 10px;
        background-image: url('images/repairrepair.png');
    }
    .icon__search-button{
        margin-left: 10px;
        background-image: url('images/checkstatussearch.png');
    }

}
